@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    color: #fff;
}


h1 {
    font-weight: normal;
    font-size: 6rem;
    margin-top: 10rem;
    text-align: center;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.3rem;
}


.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}


/*Fixture Button*/

a {
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 4rem;
  }
  
  .primary-btn {
    background-image: -moz-linear-gradient(0deg, #000000 0%, #000000 100%);
    background-image: -webkit-linear-gradient(0deg, #000000 0%, #000000 100%);
    background-image: -ms-linear-gradient(0deg, #000000 0%, #000000 100%);
  }
  
  .primary-btn {
    line-height: 36px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 25px;
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
  }
  
  .primary-btn {
    color: #fff;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .primary-btn:hover {
    background: transparent;
    color: #ffffff;
    border-color: #000000;
  }